/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-image: url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80;)
}

  
    /* box-sizing: border-box; */
    /* padding: 0; */
    /* margin: 0; */
    /* max-width: 100%; */
      /* border: 2px solid red;   */
  
  
  header {
    background-color: #D2C5D0;
    padding: 1%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-around; */
  }
  
  h1 {
    font-size : 2rem;
    width: 25%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
  }
  
  nav {
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    background-color:#BCACBA;
    letter-spacing: 1px;
    padding: 2%;
  }
  /*first <section 1 img/name/button/bio> style below  */
    

  
  
  section {
    width: 100%;
    height: 75vh;
    padding: 0.5%;
  }
  section { 
    display: flex;
    justify-content: space-between;
  }
  section {
    display: flex;
    align-items: center;
  }
  
  img {
    width:28%;
    border: 1px solid black;
    border-radius: 3%;
  }
  
  .section1 {
    width: 30%;
    height: 30vh;
    padding: 10%;
    
  }
  
  h2 {
    font-size: 2rem;
    padding: 1%;
  }
  
  button {
    border :1px solid black;
    padding: 1vh;
    
    background-color:#BCACBA;
  }
  button:hover {
    background-color: white; 
  }
  p { 
  padding: 1%;
  font-size: 1.5 rem;
  }
  /*******Section 1 ends above this *******/
  #section2 .images1 {
    display:flex;
    justify-content: space-between;
    padding: 2%;
  }
  
  #section3 .images2 {
    display:flex;
    justify-content: space-between;
    padding: 2%;
  }
  
  ul {
    list-style:none;
    display:flex;
    justify-content: space-around;
    padding: 2%;
    
  }
  
  footer h2 {
    font-size: 18px;
    text-align: center;
    padding: 4%;
  }
  
  footer {
    background-color:#E0D9DF;
  }
  footer button {
  display: flex;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  width: 6%;
  letter-spacing: 1px; 
  background-color: white; 

  }
  



