/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
  /*    border: 2px solid red;  */
  }
  
  h1 {
    background-color: pink;
    font-size: 40px;
    padding: 1%;
  }
  
  header nav {
    background-color: pink;
    width: 100%;
    font-size: 20px;
    border: black;
    display: inline-block;
  }
  .nav-bar {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
  }
  
  .home {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: 3px;
  }
  .about {
    /*    border: 2px solid black;  */
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
  }
  
  .contact {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
  }
  .projects {
    /*border: 1px solid black;  */
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
  }
  
  a:hover {
    background-color: lavender;
    color: pink;
  }
  /*first <section 1 img/name/button/bio> style below  */
    

  
  
  h2 {
    font-size: 25px;
    text-align: center;
    margin: 2% 2% 2% 2%
  }
  
  
  button { 
     font-size: 20px; 
    margin: 2% 2% 2% 2%
  }
  
  #section1 .text {
    padding:4%;
    text-align:left;
    width:50%;
    display: flex;
    flex-direction: column; 
  }
  button {
     width: 35%;
     text-align: left;
     letter-spacing: 1px;
  }
     #section1 {   
    display: flex;
    justify-content: space-between;
    padding: 2%;
    }
  #section2 .images1 {
    display:flex;
    justify-content: space-between;
    padding: 2%;
  }
  
  #section3 .images2 {
    display:flex;
    justify-content: space-between;
    padding: 2%;
  }
  
  ul {
    list-style:none;
    display:flex;
    justify-content: space-around;
    padding: 2%
  }
  
  footer h2 {
    font-size: 18px;
    text-align: center;
    padding: 4%;
  }
  
  footer {
    background-color: pink;
  }
  footer button {
  display: flex;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  width: 11%;
  letter-spacing: 1px; 
  background-color: grey;  
  }
  



